# Basic Function

In [2]:
# Using print()


print("hello World !")
print(123)

hello World !
123

In [8]:
#using Type()


a = 12
print(a)

b = "Python "
print(b)
 
c = 10.3
print(c)

12
Python
10.3

In [9]:
type(a)

int

In [10]:
type(b)

str

In [11]:
type (c)

float

In [15]:
# Using input()

a = input("Enter the value of A :")
print("A:",a)

Enter the value of A :
A:

# mutli-line comments

In [16]:
# write
# write
# write


# ctrl+?

In [18]:
# key words


help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

# Datatype in python

In [19]:
# numeric :- integer,float,complex number .
# boolean.
# set.
# dictionary.
# sequence :- list,tuple,string.

# numeric :- integer,float,complex number

In [25]:
# int datatype

a = 20
print(type(a))

# float datatype 

g = 10.5
print(type(g))

#complex

h = 2+4j
print(type(h))

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean Datatype

In [26]:
a = True
print(type(a))

<class 'bool'>

In [27]:
e = False
print(type(e))

<class 'bool'>

# Set Datatype

In [28]:
f = {'a','b','c'}
print(type(f))

<class 'set'>

# Dictionary Datatype

In [29]:
x = {"key":"value"}
print(type(x))

<class 'dict'>

# Sequence Datatype

In [30]:
# list

l1=[1,2,4,6,7]
print(type(l1))

<class 'list'>

In [31]:
# String Datatype

y = "python"
print(type(y))

<class 'str'>

In [32]:
#Tuple Datatype

t1=(1,2,3,3,4,4)
print(type(t1))

<class 'tuple'>